<header id="header" class="pointhr-header">
  <nav class="site-topbar">
    <div class="container">
      <div class="row">

        <div class="social-links col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <a href="/CareerPortal"><i class="fa fa-line-chart"></i></a>
          <a href="/Feedback"><i class="fa fa-question"></i></a>
          <a href="/User/MyProfile"><i class="fa fa-gear"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="main-bar">
      <a href="#" class="logo"><img src="Content/images/logo_i9anywhere.png" alt=""/></a>
      <nav>
        <ul>
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Invitations</a></li>
          <li><a href="#">i9 Forms</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
