<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="Content/css/remodal.css">
<link rel="stylesheet" type="text/css" href="Content/css/remodal-default-theme.css">
<link rel="stylesheet" type="text/css" href="Content/css/ion.rangeSlider.css">
<link rel="stylesheet" type="text/css" href="Content/css/ion.rangeSlider.skinFlat.css">
<link rel="stylesheet" type="text/css" href="Content/css/pointhr.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<script src="https://use.fontawesome.com/cece73aa03.js"></script>
