<footer id="pointhr-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2>Contact Info</h2>
        <ul class="address">
          <li> <i class="fa fa-map-marker"></i> Address : 3535 Firewheel Dr</li>
          <li> <i class="fa nav-tabs"></i> Flower Mound, TX 75028</li>
          <li><i class="fa fa-mobile"></i> Telephones : +1-866-661-1500</li>
          <li><i class="fa fa-envelope-o"></i> E-mail : admin@pointhr.com </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <h2>Recent Posts</h2>
        <div class="post-box">
          <div class="blogfeed" id="dvblogfeed"><ul class="feedEkList"><li><div class="itemTitle"><a href="https://pointhr.com/blog/ArtMID/3847/ArticleID/11/Remote-Hire-i9-Complete-I-9-forms-anywhere" target="_blank">Remote Hire i9 - Complete I-9 forms anywhere</a></div></li><li><div class="itemTitle"><a href="https://pointhr.com/blog/ArtMID/3847/ArticleID/10/PointHR-is-going-Pink-for-breast-cancer-" target="_blank">PointHR is going Pink for breast cancer,</a></div></li><li><div class="itemTitle"><a href="https://pointhr.com/blog/ArtMID/3847/ArticleID/9/Infographic-Benefits-of-a-Drug-%e2%80%93-Free-Workplace" target="_blank">Infographic: Benefits of a Drug – Free Workplace</a></div></li></ul></div>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h2>Follow Us</h2>
        <div class="social">
          <a href="https://twitter.com/pointhr"><i class="fa fa-twitter"></i></a>

          <a href="https://www.facebook.com/PointHRInc"><i class="fa fa-facebook"></i></a>

          <a href="https://pointhr.com/DesktopModules/News/API/News.rss?TabId=394&amp;ModuleId=3851"><i class="fa fa-rss"></i></a>
          <a href="https://www.linkedin.com/company/pointhr"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">© Copyright 2014 PointHR Incorporated- <a href="https://pointhr.com/Terms">Terms</a> &amp; <a href="https://pointhr.com/Privacy">Privacy</a></div>
</footer>
