<header id="header" class="pointhr-header">
  <div class="site-topbar">
    <div class="container">
      <div class="top-left">
        <div class="userpic"><a href="#"><img src="Content/images/userpic50.png" alt=""></a></div>
        <div><a href="#">James Castor</a></div>
        <div>employee-23@pointhr.com</div>
      </div>
      <div class="top-right">
        <div>Hello James</div>
        <div><a href="#">Account & Settings</a></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main-bar">
      <a href="#" class="logo"><img src="Content/images/logo-current.png" alt=""/></a>
      <nav>
        <ul>
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Candidates</a></li>
          <li><a href="#">Employees</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Career Portal</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
