#header.pointhr-header .no-float {
  float: none; }

.audit-list {
  max-width: 800px;
  background: #fff;
  margin: 0 auto; }
  .audit-list hr {
    margin: 0;
    color: #e0e0e0; }
  .audit-list .audit-select-client {
    padding: 15px 25px 20px 25px; }

.audit-option {
  position: relative; }
  .audit-option:first-child {
    margin-bottom: 15px; }
  .audit-option input {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 28px;
    height: 18px;
    opacity: 0;
    z-index: 99;
    cursor: pointer; }
  .audit-option label {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    margin-right: 25px; }
  .audit-option input[type=checkbox]:not(old) ~ label:before, .audit-option input[type=radio]:not(old) ~ label:before {
    content: '';
    background: transparent;
    border: 2px solid #737373;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px; }
  .audit-option input[type=checkbox]:not(old):checked ~ label:after, .audit-option input[type=radio]:not(old):checked ~ label:after {
    content: '';
    background: #2466b1;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 10px;
    width: 10px;
    border-radius: 10px; }
  .audit-option .audit-select {
    width: 270px; }

.audit-tabs {
  font-size: 0;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.13); }
  .audit-tabs .audit-tab {
    display: inline-block;
    width: 33.3333%;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #0c5fad;
    font-weight: 500;
    padding-top: 22px;
    padding-bottom: 18px;
    cursor: pointer; }
  .audit-tabs .audit-tab.active {
    border-bottom: 3px solid #2466b1; }

.table-audit {
  display: none;
  margin-top: 10px; }
  .table-audit thead tr td {
    border-top: 1px solid #e0e0e0;
    padding-top: 7px;
    padding-bottom: 5px;
    font-weight: 400;
    border-bottom: 0; }
    .table-audit thead tr td:first-child {
      padding-left: 25px; }
    .table-audit thead tr td:last-child {
      padding-right: 25px; }
  .table-audit tbody tr td {
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 13px; }
    .table-audit tbody tr td a {
      text-decoration: underline; }
    .table-audit tbody tr td:first-child {
      width: 15%;
      padding-left: 25px; }
    .table-audit tbody tr td:nth-child(2) {
      width: 18%; }
    .table-audit tbody tr td:nth-child(3) {
      width: 25%; }
    .table-audit tbody tr td:nth-child(4) {
      width: 25%; }
    .table-audit tbody tr td:last-child {
      width: 20%;
      padding-right: 25px; }

.table-audit.active {
  display: block; }

.footer-pagination {
  margin: 0 30px;
  padding-bottom: 30px; }
  .footer-pagination .pag {
    font-weight: 400; }
  .footer-pagination .pagination-dropdown select {
    width: 175px; }
  .footer-pagination .pagination-dropdown .select2-selection {
    font-weight: 400;
    color: #333333;
    box-shadow: 0px 1px 0px 0px #dcdcdc;
    -webkit-border-radius: 0;
    border-radius: 0; }

#pointhr-footer.pointhr-footer_no {
  margin-top: 0; }

.qc-client-info {
  background: #fff;
  padding-top: 15px; }
  .qc-client-info hr {
    padding-bottom: 10px;
    margin-bottom: 0; }

.qc-client-container {
  max-width: 1250px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.client-company {
  font-weight: 700;
  color: #0c5fad;
  margin-bottom: 20px; }

.client-name {
  font-weight: 400;
  margin-bottom: 20px; }
  .client-name span {
    font-weight: 700; }

.client-label {
  display: block;
  font-size: 12px;
  font-weight: 400; }

.client-info1:nth-child(2) {
  padding-left: 120px; }
  @media (max-width: 1130px) {
    .client-info1:nth-child(2) {
      padding-left: 50px; } }

.client-info1:nth-child(3) {
  padding-left: 120px; }
  @media (max-width: 1130px) {
    .client-info1:nth-child(3) {
      padding-left: 50px; } }

@media (max-width: 767px) {
  .client-info1 {
    text-align: center;
    margin-bottom: 40px; }
    .client-info1:last-child {
      margin-bottom: 0; } }

.padding-left {
  padding-left: 6px; }

.qc-select {
  width: 270px; }
  @media (max-width: 1000px) {
    .qc-select {
      width: 170px; } }

.qc-option {
  display: inline-block;
  margin-right: 50px; }
  .qc-option:last-child {
    margin-right: 0; }

.qc-option2 {
  display: inline-block;
  margin-right: 10px; }
  .qc-option2:last-child {
    margin-right: 0; }

.sidebar {
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 1000px; }
  @media (max-width: 991px) {
    .sidebar {
      overflow: hidden;
      max-height: 10000px;
      border-bottom: 2px solid #2466b1;
      padding-bottom: 20px; } }

@media (max-width: 991px) {
  .section-img {
    text-align: center; } }

.section-img img {
  max-width: 100%;
  height: auto; }
  @media (max-width: 991px) {
    .section-img img {
      display: inline-block; } }

.qc-questions {
  padding-left: 47px; }
  .qc-questions hr {
    border-top: 3px solid #eeeeee;
    margin-top: 5px; }

.button-save {
  text-align: right;
  margin-top: 25px;
  margin-bottom: 25px; }
  .button-save .form-button {
    display: inline-block;
    width: 170px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .button-save .form-button:hover {
      background: #337fd5; }

.audit-option .block-el {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  padding-left: 5px; }

.audit-option .upload-select {
  width: 100%; }

.upload-buttons {
  padding: 20px 25px; }
  .upload-buttons .add-button {
    display: inline-block;
    font-weight: 500; }
  .upload-buttons .clear-button {
    background: #fff;
    text-align: left;
    color: #0c5fad;
    box-shadow: none;
    font-weight: 500; }

.align-right {
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px; }

.upload-text {
  font-size: 16px;
  font-weight: 500; }

.upload-text, .upload-size {
  margin-bottom: 5px; }

.margin-bottom {
  margin-bottom: 25px; }

.cancel-button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  color: #ed1c24;
  padding-top: 20px; }
  .cancel-button:hover {
    color: #ed1c24;
    text-decoration: underline; }

.hide-details {
  display: inline-block;
  text-transform: uppercase;
  color: #0c5fad;
  font-weight: 500; }
  .hide-details:before {
    display: inline-block;
    vertical-align: top;
    content: "\2227";
    font-weight: 500;
    margin-right: 5px; }

.upload-check {
  padding-top: 20px; }

.upload-bar {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #c2d6c2;
  margin-bottom: 20px; }
  .upload-bar:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 80%;
    height: 4px;
    background-color: #669966; }

.upload-100:after {
  width: 100%; }

.upload-60:after {
  width: 60%; }

.hr-blue {
  border-top-color: #0c5fad; }

.no-margin {
  margin-bottom: 0; }

.retry-button {
  width: 85px;
  height: 30px;
  font-size: 11px; }

.clear-table-button {
  color: #0c5fad;
  font-weight: 500;
  text-transform: uppercase; }

.upload-details {
  display: none; }

.upload-details.active {
  display: block; }

.upload-table {
  width: 100%; }
  .upload-table thead tr td {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 400; }
    .upload-table thead tr td:first-child {
      padding-left: 30px; }
  .upload-table tbody tr:nth-child(even) td {
    background: #f7f7f7; }
  .upload-table tbody tr:first-child td {
    padding-top: 20px; }
  .upload-table tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400; }
  .upload-table tbody td:first-child {
    width: 50%;
    font-size: 16px;
    padding-left: 30px; }
  .upload-table tbody td:nth-child(2) {
    width: 15%; }
  .upload-table tbody td:nth-child(3) {
    width: 20%; }
  .upload-table tbody td:last-child {
    width: 15%; }
